<!-- src/app/carte-visite/carte-visite.component.html -->
<form (ngSubmit)="onSubmit()" class="container mt-5">
    <div class="form-group">
        <label for="nom"><i class="fas fa-user"></i> Nom:</label>
        <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="carteVisite.nom" required>
    </div>
  
    <div class="form-group">
        <label for="prenom"><i class="fas fa-user-edit"></i> Prénom:</label>
        <input type="text" class="form-control" id="prenom" name="prenom" [(ngModel)]="carteVisite.prenom" required>
    </div>
  
    <div class="form-group">
        <label for="entreprise"><i class="fas fa-building"></i> Entreprise:</label>
        <input type="text" class="form-control" id="entreprise" name="entreprise" [(ngModel)]="carteVisite.entreprise" required>
    </div>
  
    <div class="form-group">
        <label for="email"><i class="fas fa-envelope"></i> Email:</label>
        <input type="email" class="form-control" id="email" name="email" [(ngModel)]="carteVisite.email" required>
    </div>
  
    <div class="form-group">
        <label for="telephone"><i class="fas fa-phone"></i> Téléphone:</label>
        <input type="tel" class="form-control" id="telephone" name="telephone" [(ngModel)]="carteVisite.telephone" required>
    </div>
  
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>

<div class="container mt-3">
    <h2>Carte Visite</h2>
    <p>Nom: {{ carteVisite.nom }}</p>
    <p>Prénom: {{ carteVisite.prenom }}</p>
    <p>Entreprise: {{ carteVisite.entreprise }}</p>
    <p>Email: {{ carteVisite.email }}</p>
    <p>Téléphone: {{ carteVisite.telephone }}</p>
</div>
